USE [Production_U4]
GO
/****** Object: StoredProcedure [dlc].[usp_traiter_donnees_interface_n3_n2]    Script Date: 22/04/2021 15:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************************************************************
	usp_traiter_donnees_interface_n3_n2
------------------------------------------------------------------------------------------
	Traitements effectués sur les données brutes du csv
	Paramètres : 
------------------------------------------------------------------------------------------
	Auteur				: Audrey M.
	Date de création	: 18.11.2020
------------------------------------------------------------------------------------------
	Historique au format Auteur - Date - Modification(s)

	Etienne P.	Fournier	- 22.04.2021 -	Modification pour données script
	Etienne P.	Fournier	- 15.06.2021 -	Ajout champs L271
	Etienne P.	Fournier	- 08.07.2021 -	Modification position etiquette
	Etienne P.	Fournier	- 22.07.2021 -	Modification jeu fonctionnel Largeur et profondeur 10 => 15mm
	Etienne P.	Fournier	- 26.07.2021 -	Modification jeu fonctionnel profondeur 15 => 10mm
	Etienne P.	Fournier	- 25.08.2021 -	Modification position étiquette
											Ajout modèle technique façade non connue
	Etienne P.	Fournier	- 15.09.2021 -	Modification profondeur carton Sans porte et SAV pour les meubles d'angles linéaires
	Etienne P.	Fournier	- 29.09.2021 -	Modification position étiquette : 30 du haut => 100 du haut
	Etienne P.	Fournier	- 14.12.2021 -	Ajout spécificité meuble des divers
	Etienne P.	Fournier	- 17.12.2021 -	Correction dim KIT inversion dim2/3
											Correction pour SULV > 414 bac dans le meuble
											Correction embase pied pour table extractible e103
											Correction profondeur partie fixe
											Ajout gestion ME04
											Ajout gestion bas d'angle linéaire avec retour partie fixe + cale 80mm
											Ajout gestion Grand meuble à rideau rabat réduit
	Etienne P.	Fournier	- 05.01.2022 -	Correction declaration variable @L125 varchar(3) => Varchar(4)
	Etienne P.	Fournier	- 11.01.2022 -	Ajout cote maxi de pose étiquette 1200mm
	Etienne P.	Fournier	- 19.01.2022 -	Correction profondeur partie fixe assortie : e629 (FFI de de large 646)
	Etienne P.	Fournier	- 31.01.2022 -	Correction hauteur carton SUA et SUAM
	Etienne P.	Fournier	- 23.02.2022 -	Ajout gestion carton KIT avec dim dans fiche article.
	Etienne P.	Fournier	- 24.02.2022 -	Correction pour gestion des kit sans dim
	Etienne P.	Fournier	- 28.03.2022 -	Correction profondeur partie fixe, réduction profondeur
	Etienne P.	Fournier	- 19.12.2023 -	Correction hauteur carton pour les BA ANG SP4 (pas de pied)
	Etienne P.	Fournier	- 21.05.2024 -	Ajout correction hauteur pour les meubles sur plan prof 580
	Etienne P.	Fournier	- 22.08.2024 -	Ajout gestion pgn mercure pour les bas d'angle linéaire avec retour partie fixe + cale 80mm
	Etienne P.	Fournier	- 09.10.2024 -	Ajout des méthodes dans les envois de mail
	Benjamin M.	Fournier	- 08.11.2024 -	Ajout critères de suppression suite à demande méthodes du 31.10.2024
	Etienne P.	Fournier	- 26.03.2025 -	Ajout type meuble BE et AI dans les gestion des surcote embases
	

******************************************************************************************/
CREATE OR ALTER PROCEDURE [dlc].[usp_traiter_donnees_interface_n3_n2]
AS
BEGIN
	/*****************************************************************************************
						DECLARATION VARIABLES CSV
	*****************************************************************************************/
	DECLARE @sListeDiffusion AS VARCHAR(255)= 'bet@fournier-habitat.com;mchoulet@fourniergroupe.com;emugnier@fourniergroupe.com'
	DECLARE @sMessage AS VARCHAR(255)
	DECLARE @sObjet AS VARCHAR(255)

	DECLARE @L001						AS VARCHAR(8)		-- n° OF
	DECLARE @L002						AS INTEGER			-- Position dans l'OF
	DECLARE @L007						AS VARCHAR(8)		-- n°AR
	DECLARE @L008						AS VARCHAR(3)		-- Ligne de l'AR
	DECLARE @L010						AS INTEGER			-- SL AAAASSFF
	DECLARE @L013						AS VARCHAR(11)		-- ID
	DECLARE @L014						AS VARCHAR(3)		-- Statut
	DECLARE @L021						AS VARCHAR(3)		-- Version
	DECLARE @L024						AS VARCHAR(5)		-- Dim 1 Carton si spécifiée
	DECLARE @L025						AS VARCHAR(5)		-- Dim 2 Carton si spécifiée
	DECLARE @L026						AS VARCHAR(5)		-- Dim 3 Carton si spécifiée
	DECLARE @L039						AS VARCHAR(3)		-- Code Catalogue
	DECLARE @L042						AS VARCHAR(3)		-- Code Poignée
	DECLARE @L125						AS VARCHAR(4)		-- Modèle Technique façade meuble
	DECLARE @L135						AS VARCHAR(2)		-- Code Option 1
	DECLARE @L137						AS VARCHAR(2)		-- Code Option 2
	DECLARE @L139						AS VARCHAR(2)		-- Code Option 3
	DECLARE @L141						AS VARCHAR(2)		-- Code Option 4
	DECLARE @L170						AS VARCHAR(2)		-- Type Meuble
	DECLARE @L171						AS VARCHAR(3)		-- Sous Type Meuble
	DECLARE @L172						AS VARCHAR(3)		-- Ligne deco
	DECLARE @L173						AS VARCHAR(1)		-- Flag Kit
	DECLARE @L181						AS VARCHAR(8)		-- Numéro d'OF montage
	DECLARE @L207						AS VARCHAR(15)		-- Gamme
	DECLARE @L271						AS VARCHAR(150)		-- Code Descripteur
	DECLARE @L317						AS INTEGER			-- Hauteur du meuble en dixième de mm
	DECLARE @L318						AS INTEGER			-- Largeur du meuble en dixième de mm
	DECLARE @L319						AS INTEGER			-- Profondeur du meuble en dixième de mm

	DECLARE @iKit						AS SMALLINT			-- Meuble en Kit (oui = 1 / non = 0)
	DECLARE @iPoignéeContour			AS SMALLINT			-- Présence pgn contour ou non
	DECLARE @sType_Caisse				AS VARCHAR(50)		-- Type de caisse à fabriquer
	DECLARE @iHauteurCaisse				AS INTEGER			-- Hauteur de la caisse en mm
	DECLARE @iLargeurCaisse				AS INTEGER			-- Largeur de la caisse en mm
	DECLARE @iProfondeurCaisse			AS INTEGER			-- Profondeur de la caisse en mm
	DECLARE @iEpaisseurFacade			AS INTEGER			-- Epaisseur de la façade en fonction du modèle technique
	DECLARE @iDimRabatFermeture			AS INTEGER			-- Dimension du rabat de la caisse
	DECLARE @iDimRabatEncollage			AS INTEGER			-- Dimension du rabat d'encollage
	DECLARE @iLargeurLaize				AS INTEGER			-- Definit la largeur maxi des laize
	DECLARE @iStocageDim				AS INTEGER			-- Variable de stocage de dim pour inversion Largeur/profondeur
	DECLARE @iTableExtra				AS SMALLINT			-- Meuble table extractible (oui = 1 / non = 0)
	DECLARE @iGrand_Meuble				AS SMALLINT			-- Grand meuble rideau ou grand meuble sur plan
	DECLARE @iLargeurCartonAPlat		AS INT				-- Largeur du carton a plat pour faisabilité carton par rapport à la largeur maxi de laize
	DECLARE @iPliage					AS SMALLINT			-- Variable pour activer le pliage du carton 0/1
	DECLARE @iEncollage					AS SMALLINT			-- Variable pour activer l'encollage du carton 0/1
	DECLARE @iPose_FichePerso			AS SMALLINT			-- Variable pour activer la pose de la fiche perso du carton 0/1
	DECLARE @iSens_FichePerso			AS SMALLINT			-- Variable pour l'orientation de la fiche perso du carton (0 = Paysage / 1 = Portrait)
	DECLARE @iPosition_FichePerso_Y		AS INT				-- Variable pour la position de la fiche perso en Y (en mm)

	DECLARE @sParameter_A_Name			AS VARCHAR(50)		-- Nom du parametre A pour KRAFT
	DECLARE @sParameter_B_Name			AS VARCHAR(50)		-- Nom du parametre B pour KRAFT
	DECLARE @sParameter_C_Name			AS VARCHAR(50)		-- Nom du parametre C pour KRAFT
	DECLARE @sParameter_D_Name			AS VARCHAR(50)		-- Nom du parametre D pour KRAFT
	DECLARE @sParameter_E_Name			AS VARCHAR(50)		-- Nom du parametre E pour KRAFT
	DECLARE @sParameter_F_Name			AS VARCHAR(50)		-- Nom du parametre F pour KRAFT
	DECLARE @sParameter_G_Name			AS VARCHAR(50)		-- Nom du parametre G pour KRAFT
	DECLARE @sParameter_H_Name			AS VARCHAR(50)		-- Nom du parametre H pour KRAFT

	DECLARE @sParameter_A_Value			AS VARCHAR(50)		-- Valeur du parametre A pour KRAFT
	DECLARE @sParameter_B_Value			AS VARCHAR(50)		-- Valeur du parametre B pour KRAFT
	DECLARE @sParameter_C_Value			AS VARCHAR(50)		-- Valeur du parametre C pour KRAFT
	DECLARE @sParameter_D_Value			AS VARCHAR(50)		-- Valeur du parametre D pour KRAFT
	DECLARE @sParameter_E_Value			AS VARCHAR(50)		-- Valeur du parametre E pour KRAFT
	DECLARE @sParameter_F_Value			AS VARCHAR(50)		-- Valeur du parametre F pour KRAFT
	DECLARE @sParameter_G_Value			AS VARCHAR(50)		-- Valeur du parametre G pour KRAFT
	DECLARE @sParameter_H_Value			AS VARCHAR(50)		-- Valeur du parametre H pour KRAFT


	/******************************************************************************************
						INTEGRATION tbl_piece DANS UNE TABLE TEMPORAIRE
	******************************************************************************************/
	SELECT *
	INTO #tmp_tblPiece
	FROM [Production_U4].[dlc].[INTERFACE_N3_N2] WITH (NOLOCK)


	/******************************************************************************************
						BOUCLE DE TRAITEMENT
	******************************************************************************************/
	-- On rentre dans une boucle infinie. On sort de la boucle quand on a parcouru toute la table
	WHILE 1=1
	BEGIN
		SET @L013 = NULL	-- On Affecte @L013 à NULL ce qui nous permet de sortir de la boucle en fin de traitement
		-- RECUPERATION DES DONNEES DE LA 1ère LIGNE DANS LA TABLE TEMPORAIRE
		SELECT TOP 1
			@L001 = L001,
			@L002 = CONVERT(INTEGER,L002),
			@L007 = L007,
			@L008 = L008,
			@L010 = CONVERT(INTEGER,L010),
			@L013 = L013,
			@L014 = L014,
			@L021 = L021,
			@L024 = L024,
			@L025 = L025,
			@L026 = L026,
			@L039 = L039,
			@L042 = L042,
			@L125 = L125,
			@L135 = L135,
			@L137 = L137,
			@L139 = L139,
			@L141 = L141,
			@L170 = L170,
			@L171 = L171,
			@L172 = L172,
			@L173 = L173,
			@L271 = L271,
			@L317 = CONVERT(INTEGER,L317),
			@L318 = CONVERT(INTEGER,L318),
			@L319 = CONVERT(INTEGER,L319)
		FROM #tmp_tblPiece
		ORDER BY CONVERT(INT,L001),CONVERT(INT,L002)

		/******************************************************************************************
							SUPPRESSION LIGNE EN COURS DANS TABLE TEMPORAIRE
		******************************************************************************************/
		DELETE FROM #tmp_tblPiece WHERE L013 = @L013

		/******************************************************************************************
							CONDITION DE SORTIE DE BOUCLE
		******************************************************************************************/
		IF @L013 IS NULL		-- Si @L013 est NULL, on n'a plus de donnée, on sort de la boucle
		BEGIN
			BREAK;
		END


		/******************************************************************************************
							INITIALISATION DES VARIABLES
		******************************************************************************************/
		SET @iHauteurCaisse = @L317/10					-- On affecte la hauteur de caisse en fonction de la hauteur du meuble
		SET @iLargeurCaisse = @L318/10					-- On affecte la largeur de caisse en fonction de la largeur du meuble
		SET @iProfondeurCaisse = @L319/10				-- On affecte la profondeur de caisse en fonction de la profondeur du meuble

		SET @iKit = 0
		SET @iEpaisseurFacade = 0
		SET @iDimRabatFermeture = 0
		SET @iDimRabatEncollage = 0
		SET @iPoignéeContour = 0
		SET @iLargeurLaize = 1860
		SET @iStocageDim = 0
		SET @iTableExtra = 0
		SET @iGrand_Meuble = 0
		SET @iLargeurCartonAPlat = 0

		SET @sParameter_A_Name = ''
		SET @sParameter_B_Name = ''
		SET @sParameter_C_Name = ''
		SET @sParameter_D_Name = ''
		SET @sParameter_E_Name = ''
		SET @sParameter_F_Name = ''
		SET @sParameter_G_Name = ''
		SET @sParameter_H_Name = ''

		SET @sParameter_A_Value = ''
		SET @sParameter_B_Value = ''
		SET @sParameter_C_Value = ''
		SET @sParameter_D_Value = ''
		SET @sParameter_E_Value = ''
		SET @sParameter_F_Value = ''
		SET @sParameter_G_Value = ''
		SET @sParameter_H_Value = ''


		/******************************************************************************************
							CALCULS DIVERS
		******************************************************************************************/
		-- Suppresssion données si OF montage vide et gamme principale
		IF @L181 = '' AND @L207 = 'PRINCIPALE'
		BEGIN
			DELETE FROM #tmp_tblPiece WHERE L013 = @L013
		END

		-- Correction Ligne Deco
		IF @L172 = 'S9V'
		BEGIN
			SET @L172 = 'SP4'
		END

		-- Type de caisse
		SET @sType_Caisse = '0201.001.TEST14EPR.Biele'

		-- Identification des meubles KIT
		IF @L271 IN ('51043') or @L173 = 'O'
		BEGIN
			SET @iKit = 1
		END

		-- Calcul de l'épaisseur de la façade
		IF @L125 IN ('ME13', 'ME04')		-- modèle des façades à cadre alu epaisseur 22mm ME13, ME04 + 2mm butee façade + 3mm de protection
		BEGIN
			SET @iEpaisseurFacade = 22 + 3 + 2
		END
		ELSE IF @L125 IN ('ME11')		-- modèle des façades à cadre alu epaisseur 20mm ME11 + 2mm butee façade + 3mm de protection
		BEGIN
			SET @iEpaisseurFacade = 20 + 3 + 2
		END
		ELSE IF @L125 IN ('RC12','BC27')		-- modèle des façades 20mm + 2mm butee façade
		BEGIN
			SET @iEpaisseurFacade = 20 + 2
		END
		ELSE IF @L125 IN ('BC26','LA00','LA34','LA13','PF50')		-- modèle des façades 19mm + 2mm butee façade
		BEGIN
			SET @iEpaisseurFacade = 19 + 2
		END
		ELSE IF @L125 IN ('SP','SAV') AND @L170 IN ('HA','BA') AND @L171 IN ('ANG')		-- Meuble d'angle avec partie fixe en modèle SP ou SAV ajout epaisseur std
		BEGIN
			SET @iEpaisseurFacade = 18 + 2
		END
		ELSE IF @L125 IN ('SP','SAV','')		-- modèle Sans porte
		BEGIN
			SET @iEpaisseurFacade = 0
		END
		ELSE		-- modèle des façades STD ou non définie + 2mm butee façade
		BEGIN
			SET @iEpaisseurFacade = 18 + 2
		END

		-- Détection des meubles table extractible fonction ext 103 (uniquement en seconde position => embase de pied non montée)
		IF SUBSTRING(@L271, 7, 3) = '103'
		BEGIN
			SET @iTableExtra = 1
		END


		-- Gestion Hauteur / Profondeur / Largeur
		IF @iKit <> 1		-- Si le meuble n'est pas en kit
		BEGIN
			IF @L170 IN ('BA','BN','BS','BE') AND @L171 NOT IN ('PON','PCO','TED','TEG') AND @L318/10 > 150 AND @iTableExtra <> 1 AND (@L170 <> 'BA' OR @L171 <> 'ANG' OR @L172 <> 'SP4')	-- Si le meuble a des Pieds
			BEGIN
				SET @iHauteurCaisse = @iHauteurCaisse + 25
			END
			ELSE IF @L170 IN ('AR','AI') AND @L171 NOT IN ('SLV') AND @L319/10 > 340 AND @L318/10 >= 400		-- Si Armoire Prof > 340 et Largeur >= 400 => le meuble a des Pieds
			BEGIN
				SET @iHauteurCaisse = @iHauteurCaisse + 25
				IF @L317/10 >= 1380			-- Ajout des renforts pour les Armoires Hauteur >= 1380
				BEGIN
					SET @iHauteurCaisse = @iHauteurCaisse + 4
				END
			END

			-- Gestion Hauteur spécifique Meuble sur plan et rideau
			ELSE IF @L170 IN ('RI','PT')		-- Si on est dans le cas de meuble rideau ou meuble sur plan, une protection de 3mm est ajoutée sous le meuble
			BEGIN
				IF @L317 >= 13510 AND @L319 >= 4000 AND @L319 < 5000		-- Cas des grands meubles rideau en grande profondeur, pas de protection isogyl + rabat spécifique
				BEGIN
					SET @iGrand_Meuble = 1
				END
				ELSE IF @L317 >= 12130 AND @L319 >= 5000		-- Cas des grands meubles sur plan prof 580 + rabat spécifique
				BEGIN
					SET @iGrand_Meuble = 1
				END
				ELSE
				BEGIN
					SET @iHauteurCaisse = @iHauteurCaisse + 3
				END
			END

			ELSE IF @L170 IN ('HP')		-- Si on est dans le cas de meuble rideau ou meuble sur plan, une protection de 3mm est ajoutée sous le meuble
			BEGIN
				IF @L317 >= 12290 AND @L319 >= 5000		-- Cas des grands meubles sur plan prof 580 + rabat spécifique
				BEGIN
					SET @iGrand_Meuble = 1
				END
			END

			-- Gestion Hauteur spécifique SULV2/4/5
			IF @L170 = 'AR' AND @L171 = 'SUP'		-- Retrait d'un pas et ajout d'une surcote pour le bac de retention SULV file://0bray-plm-sql/PDF/CAC_0001979.PDF + protection de 3mm
			BEGIN
				IF @L317 > 1380 AND @L317 <= 2760
				BEGIN
					IF  @L125 <> 'SAV'		-- Si pas SAV
					BEGIN
						SET @iHauteurCaisse = @iHauteurCaisse - 138 + 70 + 3
					END
					ELSE					-- Si SAV => pas de façade, pas de bac
					BEGIN
						SET @iHauteurCaisse = @iHauteurCaisse - 138
					END
				END
				ELSE IF @L317 > 2760		-- le bac SULV est mis dans le meuble
				BEGIN
					IF  @L125 <> 'SAV'		-- Si pas SAV
					BEGIN
						SET @iHauteurCaisse = @iHauteurCaisse - 138 + @iEpaisseurFacade + 15 + 3		-- epaisseur façade + epaisseur Crochet 15mm file://0bray-plm-sql/PDF/CAC_0002565.PDF + protection de 3mm
					END
					ELSE					-- Si SAV => pas de façade
					BEGIN
						SET @iHauteurCaisse = @iHauteurCaisse - 138
					END
				END
			END

			-- Gestion Hauteur spécifique pour les différents types de hotte
			IF @L170 = 'HA' and @L171 = 'HIN'
			BEGIN
				--Ajout surcote pour protection polystyrène + isogil
				IF 'CH' IN (@L135,@L137,@L139,@L141)
				BEGIN
					SET @iHauteurCaisse = @iHauteurCaisse + 40 + 3
				END
				--Ajout surcote pour protection isogil
				IF 'CF' IN (@L135,@L137,@L139,@L141)
				BEGIN
					SET @iHauteurCaisse = @iHauteurCaisse + 3
				END
			END
			IF @L170 = 'HA' and @L171 = 'HOT'
			BEGIN
				--Ajout surcote pour prendre en compte la hauteur de la hotte + protection isogil
				IF 'CA' IN (@L135,@L137,@L139,@L141) OR 'C4' IN (@L135,@L137,@L139,@L141) OR 'C5' IN (@L135,@L137,@L139,@L141)
				BEGIN
					SET @iHauteurCaisse = @iHauteurCaisse + 40 + 3
				END
			END

			--Ajout surcote pour protection isogil des fonds éclairants
			IF @L171 = 'LFE'
			BEGIN
				SET @iHauteurCaisse = @iHauteurCaisse + 3
			END

			-- Déduction poignée contour
			IF @L042 IN ('560','168','255','134')			-- Code poignée des différentes pgn contour
			BEGIN
				SET @iPoignéeContour = 1
			END
			ELSE
			BEGIN
				SET @iPoignéeContour = 0
			END

			IF @L171 NOT IN ('APC','ARE')		-- Si pas meuble d'angle pan coupé ou 2 porte, pas d'ajout d'epaisseur façade
			BEGIN
				SET @iProfondeurCaisse = @iProfondeurCaisse + @iEpaisseurFacade			-- Profondeur Meuble - epaisseur façade std (18 mm) + epaisseur cadre alu (22 mm) + 3 mm de protection iso
				IF @iPoignéeContour = 1		-- Si pgn contour => On annule l'epaisseur façade et on ajout 20 (std) + 10 mm 
				BEGIN
					SET @iProfondeurCaisse = @iProfondeurCaisse - @iEpaisseurFacade + 20 + 10
				END
			END

			-- Ajout surcote pour partie fixe sauf cas partie fixe assortie : e629 (FFI de de large 646)
			IF @L170 = 'BA' AND @L171 = 'ANG'
			BEGIN
				-- Si poignée P28, Mercure ou SF03 ou PF11 ou Sans Poignée
				IF @L042 IN ('087','167','264','265','880') OR @L125 IN ('PF11', 'SF03') OR @L172 = 'SP4'
				BEGIN
					-- Exclusion cas partie fixe assortie : e629 (FFI de de large 646)
					IF SUBSTRING(@L271,1,3) <> '629'
					BEGIN
						SET @iProfondeurCaisse = @iProfondeurCaisse + 80	-- Ajout epaisseur cale pour le retour partie fixe
						IF @iProfondeurCaisse > 650
						BEGIN
							SET @iProfondeurCaisse = 650					-- Réduction profondeur cause problématique expédition
						END
					END
				END
			END

			-- Ajout des surcotes de confort +10mm    cf Mail Mathieu Jeudi 18/02 (pas pour le KIT)
			SET @iHauteurCaisse = @iHauteurCaisse + 10
			SET @iLargeurCaisse = @iLargeurCaisse + 10 + 5
			SET @iProfondeurCaisse = @iProfondeurCaisse + 10

			-- Gestion de la largeur (rien pour le moment)
		END		-- fin si meuble pas en kit

		ELSE		-- Si Meuble en Kit, on récupère les données de la fiche article sinon on affecte des cas par défaut
		BEGIN
			IF CONVERT(INT,@L024) <> 0 AND CONVERT(INT,@L025) <> 0 AND CONVERT(INT,@L026) <> 0
			BEGIN
				SET @iHauteurCaisse = CONVERT(INT,@L024)/10
				SET @iLargeurCaisse = CONVERT(INT,@L025)/10
				SET @iProfondeurCaisse = CONVERT(INT,@L026)/10
			END
			ELSE
			BEGIN
				IF @L170 = 'BA' AND @L171 IN ('ARE','APC')
				BEGIN
					SET @iHauteurCaisse = 880
					SET @iLargeurCaisse = 880
					SET @iProfondeurCaisse = 375
				END
				ELSE
				BEGIN
					SET @iHauteurCaisse = 50		-- Valeur à ajuster
					SET @iLargeurCaisse = 50		-- Valeur à ajuster
					SET @iProfondeurCaisse = 50		-- Valeur à ajuster
				END
			END
		END		-- fin si meuble en kit

		-- Gestion du rabat de fermeture
		IF @iLargeurCaisse < @iProfondeurCaisse
		BEGIN
			SET @iDimRabatFermeture = @iLargeurCaisse / 2
		END
		ELSE
		BEGIN
			SET @iDimRabatFermeture = @iProfondeurCaisse / 2
		END

		SET @iLargeurCartonAPlat = @iHauteurCaisse + 4 + 2 * (@iDimRabatFermeture + 4)

		IF @iGrand_Meuble = 1
		BEGIN
			SET @iDimRabatFermeture = @iDimRabatFermeture - (@iLargeurCartonAPlat - @iLargeurLaize + 1) / 2 -- Ajout de 1 pour toujours arondir au supérieur
			SET @iLargeurCartonAPlat = @iHauteurCaisse + 4 + 2 * (@iDimRabatFermeture + 4)					-- Ré ajustement de la largeur a plat
		END

		-- Email de controle sur la largeur de laize
		IF @iLargeurCartonAPlat > @iLargeurLaize
		BEGIN
			SET @sMessage = 'ERREUR Largeur laize trop grande, ID : ' + @l013 + ' OF ' + @L001 + ' / ' + CONVERT(varchar(5), @L002) + ' : LARGEUR LAIZE = ' + CONVERT(varchar(6), @iLargeurCartonAPlat) + '.'
			SET @sObjet = 'SCRIPT CARTON => ' + @sMessage
			EXEC Commun_info_indus.dbo.sp_Envoie_Mail  @sListeDiffusion, @sObjet, @sMessage
		END
		IF @iLargeurCaisse < 100 or @iHauteurCaisse < 100 or @iProfondeurCaisse < 100
		BEGIN
			SET @sMessage = 'ERREUR dim carton trop petite, ID : ' + @l013 + ' OF ' + @L001 + ' / ' + CONVERT(varchar(5), @L002) + ' : Dims Carton : Largeur = ' + CONVERT(varchar(6), @iLargeurCaisse) + ' / Hauteur = ' + CONVERT(varchar(6), @iHauteurCaisse) + ' / Profondeur = ' + CONVERT(varchar(6), @iProfondeurCaisse) + '.'
			SET @sObjet = 'SCRIPT CARTON => ' + @sMessage
			EXEC Commun_info_indus.dbo.sp_Envoie_Mail  @sListeDiffusion, @sObjet, @sMessage
		END

		-- Gestion du rabat d'encollage
		SET @iDimRabatEncollage = 50

		-- Affectation des paramètres en fonction du type de caisse
		SET @sParameter_A_Name = 'L'
		--SET @sParameter_A_Value = CONVERT(VARCHAR(50),@iHauteurCaisse)
		SET @sParameter_A_Value = CONVERT(VARCHAR(50),@iLargeurCaisse)

		SET @sParameter_B_Name = 'B'
		--SET @sParameter_B_Value = CONVERT(VARCHAR(50),@iLargeurCaisse)
		SET @sParameter_B_Value = CONVERT(VARCHAR(50),@iProfondeurCaisse)

		SET @sParameter_C_Name = 'H'
		--SET @sParameter_C_Value = CONVERT(VARCHAR(50),@iProfondeurCaisse)
		SET @sParameter_C_Value = CONVERT(VARCHAR(50),@iHauteurCaisse)

		SET @sParameter_D_Name = 'KL'
		SET @sParameter_D_Value = CONVERT(VARCHAR(50),@iDimRabatEncollage)

		SET @sParameter_E_Name = 'D'
		SET @sParameter_E_Value = CONVERT(VARCHAR(50),@iDimRabatFermeture)

		SET @sParameter_F_Name = ''
		SET @sParameter_F_Value = ''

		SET @sParameter_G_Name = ''
		SET @sParameter_G_Value = ''

		SET @sParameter_H_Name = ''
		SET @sParameter_H_Value = ''

		-- Gestion Données pour Biele
		-- Gestion pliage NON/OUI 0/1
		SET @iPliage = 1

		-- Gestion encollage NON/OUI 0/1
		SET @iEncollage = 1

		-- Gestion impression NON/OUI 0/1
		SET @iPose_FichePerso = 1

		-- Gestion orientation de l'impression Paysage/Portrait 0/1 (148mm/210mm)
		IF @L318/10 > 200		-- Si le meuble fait plus de 200mm de large on est en paysage
		BEGIN
			SET @iSens_FichePerso = 0
		END
		ELSE					-- Sinon on est en portrait
		BEGIN
			SET @iSens_FichePerso = 1
		END

		-- Gestion position en Y de l'impression
		IF @iSens_FichePerso = 0			-- Si fiche perso de format paysage
		BEGIN
			IF @iHauteurCaisse >= (200 + 148)
			BEGIN
				SET @iPosition_FichePerso_Y = @iDimRabatFermeture + @iHauteurCaisse - (148 / 2) - 100	-- Dim rabat fermeture + Hauteur du carton - Hauteur fiche perso (format paysage = 148) / 2 - 100mm
			END
			ELSE IF @iHauteurCaisse >= (60 + 148) AND @iHauteurCaisse < (200 + 148) 
			BEGIN
				SET @iPosition_FichePerso_Y = @iDimRabatFermeture + @iHauteurCaisse - (148 / 2) - 30	-- Dim rabat fermeture + Hauteur du carton - Hauteur fiche perso (format paysage = 148) / 2 - 30mm
			END
			ELSE
			BEGIN
				SET @iPosition_FichePerso_Y = @iDimRabatFermeture + (@iHauteurCaisse / 2)				-- Alors on centre la fiche perso (! Attention au point de reférence au milieu de la fiche perso)
			END
		END
		ELSE		-- Si fiche perso de format portrait
		BEGIN
			IF @iHauteurCaisse >= (200 + 210)
			BEGIN
				SET @iPosition_FichePerso_Y = @iDimRabatFermeture + @iHauteurCaisse - (210 / 2) - 100	-- Dim rabat fermeture + Hauteur du carton - Hauteur fiche perso (format paysage = 148) / 2 - 100mm
			END
			ELSE IF @iHauteurCaisse >= (60 + 210) AND @iHauteurCaisse < (200 + 210) 
			BEGIN
				SET @iPosition_FichePerso_Y = @iDimRabatFermeture + @iHauteurCaisse - (210 / 2) - 30	-- Dim rabat fermeture + Hauteur du carton - Hauteur fiche perso (format paysage = 148) / 2 - 30mm
			END
			ELSE
			BEGIN
				SET @iPosition_FichePerso_Y = @iDimRabatFermeture + (@iHauteurCaisse / 2)				-- Alors on centre la fiche perso (! Attention au point de reférence au milieu de la fiche perso)
			END
		END

		-- Controle position maxi étiquette
		IF @iPosition_FichePerso_Y > 1200
		BEGIN
			SET @iPosition_FichePerso_Y = 1200
		END


		/*****************************************************************************************
							UPDATE DES DONNEES DANS N3-N2
		*****************************************************************************************/
		UPDATE [Production_U4].[dlc].[INTERFACE_N3_N2] SET
			Piece_PackageDesign_Name = @sType_Caisse,
			Parameter_A_Name = @sParameter_A_Name,
			Parameter_A_Value = @sParameter_A_Value,
			Parameter_B_Name = @sParameter_B_Name,
			Parameter_B_Value = @sParameter_B_Value,
			Parameter_C_Name = @sParameter_C_Name,
			Parameter_C_Value = @sParameter_C_Value,
			Parameter_D_Name = @sParameter_D_Name,
			Parameter_D_Value = @sParameter_D_Value,
			Parameter_E_Name = @sParameter_E_Name,
			Parameter_E_Value = @sParameter_E_Value,
			Parameter_F_Name = @sParameter_F_Name,
			Parameter_F_Value = @sParameter_F_Value,
			Parameter_G_Name = @sParameter_G_Name,
			Parameter_G_Value = @sParameter_G_Value,
			Parameter_H_Name = @sParameter_H_Name,
			Parameter_H_Value = @sParameter_H_Value,
			Piece_Folding = @iPliage,
			Piece_Gluing = @iEncollage,
			Piece_Labeling = @iPose_FichePerso,
			Piece_Label_Orientation = @iSens_FichePerso,
			Piece_Label_PositionY = @iPosition_FichePerso_Y
		WHERE L013 = @L013

	END		-- fin du WHILE


	/*****************************************************************************************
						IMPORT DE L'OF DANS LE MODELE IAI
	*****************************************************************************************/
	EXEC dlc.usp_exploser_interface_n3_n2
END
